* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    line-height: 1.2;
    position: relative;
    user-select: none;
}

.navbar {
    background: linear-gradient(to right, rgba(125, 125, 125, 0.9), rgba(255, 255, 255, 0.7));
    height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);    
}

.nav-logo {
  height: 130px;
}

.about {
    text-decoration: none;
    color: #fff;
    border: 1px solid #555;
    border-radius: 8px;
    background: #555;
    padding: 10px 30px;
    transition: background-color 0.3s, color 0.3s;
}

.about:hover {
    opacity: 0.65;
}

.about-modal {
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 500px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 2px #666;
    background-color: #212529;
    color: whitesmoke;
    padding: 20px;
    text-align: center;
    opacity: 0.9;
    z-index: 1;
}

.about-modal h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.modal-inner {
    list-style: none;
    padding: 0;
}

.modal-inner li {
    padding: 8px 0;
    margin: 20px 0;
    width: 90%;
}

.about-modal p {
    margin-top: 20px;
    font-style: italic;
    color: whitesmoke;
}

.about-close {
    color: #FFCC68;
}

.about-close:hover {
    font-size: 2.1rem;
    opacity: 0.75;
}

.container {
    margin: auto;
    text-align: center;
}

h1 {
    font-family: 'Concert One', cursive;
    margin: 20px;
}

.txt-sm {
    font-size: 0.7rem;
}

.btn {
    font-family: 'Inter', sans-serif;
    width: 300px;
    padding: 20px 30px;
    background: #FFCC68;
    color: #333;
    border-radius: 8px;
    margin-top: 30px;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 5px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.7;
    font-weight: bold;
}

.grid-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

li {
    list-style: none;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 10px 20px;
    width: 200px;
    margin: 10px auto;
    text-align: center;
}

li:hover {
    color: #fff;
    background: #333;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: red;
    opacity: 0.6;
}

.display {
    font-family: 'Inter', sans-serif;
    background: #fff;
    color: #000;
    width: 700px;    
    margin: auto;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid #333;
    box-shadow: 5px 5px 4px #333;
    font-size: 1rem;
    opacity: 0.65;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-weight: 300;
    font-size: 0.8rem;
}

.display:hover {
    opacity: 0.9;
}

.author {
    margin-left: auto;
    font-weight: 800;
    margin-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.footer {
    background-color: #333;
    color: #333;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }

footer a {
    color: #333;
    margin-left: 15px;
    text-decoration: none;
}

footer a:hover {
    color: #FFCC68;
}

 /* Media Queries for Mobile and Small Screens */
@media (max-width: 768px) {
    .display {
        width: 90%;
        padding: 20px;
    }

    #author {
        margin-left: 0;
    }
}
@media(max-width: 468px) {
    footer {
        font-size: 0.5rem;
    }

    .social-icons {
        display: grid;
        grid-gap: 3px;
        font-size: 10px;
    }

    .grid-items {
        grid-template-columns: repeat(2, 1fr);
    }
}
  